* {
    font-family: 'Montserrat';
}

body {
    background: #00474C;
    background: radial-gradient(circle, #00474C 20%, black 100%); /*#383D3B*/
}

.puzzlebody {
    background: #00474C;
    background: radial-gradient(circle, #00474C 20%, black 100%);
}

/* ESCAPE THE DECISION ARENA */
h1 { 
    color: white;
    font-size: 25px;
    margin-left: 20px;
    background: -webkit-linear-gradient(#fff, #00474C);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* PUZZLE/CONTROL ROOM */
h3 { 
    color: white;
    font-size: 30px;
    letter-spacing: 0.2rem;
    display: flex;
    align-items: center;
    flex-direction: column;
}

section {
    display: flex;
    padding: 10px;
}

/* Link text */
a {
    color: white;
    font-size: 20px;
    text-decoration: none;
}

a:link {
    color: white;
}

a:visited {
    color: white;
}

a:hover {
    color: rgb(172, 172, 172);
}

a:active {
    color: rgb(68, 68, 68);
}

/* * * * * * * * * * * * * * * * */

button {
    width: 60px;
    height: 35px;
    margin-left: 10px;
}

.triggerButton {
    width: 80px;
    height: 80px;
    margin: 10px;
}

.triggerButton:active {
    background: red;
}

input {
    height: 30px;
    width: 100px;
    font-size: 24px;
    margin: 10px;
}

.puzzle2input {
    height: 30px;
    width: 55px;
}

.puzzle3input {
    height: 30px;
    width: 50px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

form {
    display: flex;
    align-items: center;
    justify-content: center;
}

.formpuzzle3 {
    flex-direction: column;
}

.mainbody {
    flex-direction: column;
    align-items: center;
}

.middlebody {
    flex-direction: row;
    display: inline;
    align-items: center;
}

.puzzle3settings {
    font-size: 30px;
    color: white;
}

.puzzle13 {
    color: white;
    display: inline;
    padding: 10px;
    margin-right: 150px;
    margin-left: 150px;
}

.puzzle2exit {
    color: white;
    display: inline;
    padding: 5px;
}

.puzzleroomexit {
    margin: auto;
}

.entercode {
    margin: auto;
}

.inputcode {
    flex-direction: column;
    align-items: center;
}

/* Rotate arrows */
.rotate45 {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.rotate125 {
    -webkit-transform: rotate(125deg);
    -moz-transform: rotate(125deg);
    -o-transform: rotate(125deg);
    -ms-transform: rotate(125deg);
    transform: rotate(125deg);
}